<!DOCTYPE html>
<html
    xmlns:th="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/root}"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="common-meta">
    <title>common title</title>
</head>
<body>
<div layout:fragment="rootContent">
    <header>
        <form method="POST" th:action="@{/logout}">
            <button type="submit" class="btn btn-light">ログアウト</button>
        </form>
    </header>
    <main id="main-area" layout:fragment="headerLayoutContent">
        <!--{children}-->
    </main>
</div>
</body>
</html>