<!DOCTYPE html>
<html lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/headerLayout}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link th:href="@{/css/loginForm.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div layout:fragment="headerLayoutContent">
  <div>Home</div>
  <p th:text="|ログインID：${#authentication.principal.username}|"></p>
  <th:block th:if="${hasUserManageAuth}">
    <a href="" class="btn btn-danger">管理画面へ</a>
  </th:block>
</div>
</body>
</html>