<!DOCTYPE html>
<html lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/headerLayoutWithoutLogoutButton}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/loginForm.css}">
</head>

<body>

<div layout:fragment="headerLayoutWithoutLogoutButton" class="container-fluid">
  <h2>ログイン画面</h2>
  <p th:text="${errorMsg}" class="error_msg"/>
  <form method="POST" th:action="@{/login}" th:object="${loginForm}">
    <div class="inputs_container">
      <div class="input_container">
        <label for="userName">ユーザ名</label>
        <input id="userName" placeholder="名前" th:field="*{loginId}">
        <span th:if="${#fields.hasErrors('loginId')}"
              th:errors="*{loginId}"></span>
      </div>
      <div class="input_container">
        <label for="password">パスワード</label>
        <input id="password" type="password" placeholder="パスワード" th:field="*{password}">
        <span th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"></span>
      </div>
    </div>
    <button type="submit">ログイン</button>
  </form>
  <p>まだ登録していないですか？ <a th:href="@{/signup}">ユーザ登録をする</a></p>
</div>
</body>
</html>